body{
    background-image: url(./Img/pngtree-white-paper-texture-background-picture-image_15192732.jpg);
    h1{
            margin-top: 0%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 10%;
        }
    header{
            margin: 10%;
            margin-bottom: 2%;
        p{
            margin-left: 10%;
            margin-right: 10%;
            
            text-justify: initial;
            
        }
        
    }
    nav{
        margin-left: 7cm;
        div{
            align-items: center;
            margin-left: 4%;
            margin-right: 45%;
            background-color: rgb(67, 69, 72);
        }
        div1{
            margin-left: 4%;
            margin-right: 45%;
            display: flex;
            flex-direction: column;
            background-color: gray;
        }
        a{
            margin-left: 10%;
            text-align: left;  
        }
        
    }
}