body{
    nav{
        div{
            h1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        div{
            h2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            u1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}